<div class='benefits'>

	<div class='container'>

		<article class='benefit'>
			<img src="img/audience.png">
			<h2>Get your event discovered</h2>
			<p>Manage your local audience easily and increase your reach when discovered by a completely new audience online.</p>
		</article>

		<article class='benefit'>
			<img src="img/track.png">
			<h2>Manage your ticket sales</h2>
			<p>A hassle-free ticketing platform where you can track all of your sales in one place. We handle the payments so you can rest easy.</p>
		</article>

		<article class='benefit'>
			<img src="img/lock.png">
			<h2>Your data is safe.</h2>
			<p>All customer data is automatically recorded, and everything is secure, so you have everything you need to make your next performance a success.</p>
		</article>

	</div>

</div>