<div class='feature-slide'>

	<div class='container'>

		<article class='feature'>
			<img src="img/ticket.png">
			<h2>Event pages for online ticket sales</h2>
			<p>Input your details about your upcoming adult amateur productions on your own dedicated event pages to handle all ticket sales, becoming the center of your marketing for your events.</p>
		</article>

		<article class='feature'>
			<img src="img/globe.png">
			<h2>Tell the world with a single click</h2>
			<p>With your event page created, you can instantly publish your event to two dozen relevant event websites, on social media and on your own unique interactive event page.</p>
		</article>

	</div>

</div>